body {
    padding: 0px;
    margin: 0px; 
}

#title-bar {
    -webkit-app-region: drag;
    height: 24px; 
    background-color: rgba(0, 0, 0, 0);
    padding: none;
    margin: 0px; 
}

#title {
    position: fixed;
    top: 0px;
    left: 6px; 
}

#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 6px;
}

#c-camera {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}